@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  list-style-type: none;
}

p{
  font-family: 'Poppins', sans-serif;
}



.page-heading{
  font-family: 'Pacifico', cursive;
  color: #3781E3;
  font-size: 2rem;
}

/* Responsive Navbar */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  --nav-background: #D5E5F5;
  --color: #3781E3;
  --font-size: 1.2rem;
  --padding: 5px 10px;
}


#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: #D5E5F5;
  z-index: 100;
  padding: 0 1.5rem;
  margin: 0;
}

#navbar nav ul{
  padding: 20px;
  font-size: 17px;
  list-style: none;
  display: flex;
  align-items:center;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 0.3 ease;
}

#navbar nav ul li{
  padding: var(--padding)
}


#navbar nav ul li a{
  color: #00214d;
  text-decoration: none;
  position: relative;
}



#navbar nav ul li a::after{
  content: '';
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  position:absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

#navbar nav ul li a:hover::after{
  width: 100%;
}

#navbar .menu{
  width: 22px;
  height: 16px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
#navbar .menu span{
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background: #3781E3;
  transition: 0.4s ease-in;
  transform-origin: left;
}

nav .menu.active span {
  background: var(--color);
}

nav .menu.active span:nth-child(1) {
  transform: rotate(40deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(-40deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}


@media (max-width:910px)